/*************************************************************************************************************/
/***************************************** CSS RESET *********************************************************/
/*************************************************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box
}

html {
	height: 100%;
}
body {
	height:100%;
}

/*************************************************************************************************************/
/***************************************** MEDIA TEMPLATE ****************************************************/
/*************************************************************************************************************/

/* Everything and Desktops */

/* Lanscape iPad */
@media (max-width: 1024px) {
	
}

/* Portrait iPad */
@media (max-width: 768px) {
	
}

/* Landscape smartphone */
@media (max-width: 600px) {
	
}

/* smartphone */
@media (max-width: 480px) {
	
}

/* Small landscape smartphone (iPhone 4) */
@media (max-width: 480px) and (orientation: landscape) {

}

/*************************************************************************************************************/
/***************************************** COLOURS ***********************************************************/
/*************************************************************************************************************/




/*************************************************************************************************************/
/***************************************** BODY **************************************************************/
/*************************************************************************************************************/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: black;
	background-color: black;
}

/* Lanscape iPad */
@media (max-width: 1024px) {
	body {

	}
}

/* Portrait iPad */
@media (max-width: 768px) {
	body {

	}
}

/* Landscape smartphone */
@media (max-width: 600px) {
	body {

	}
}

/* smartphone */
@media (max-width: 480px) {
	body {

	}
}

/* Small landscape smartphone (iPhone 4) */
@media (max-width: 480px) and (orientation: landscape) {
	body {

	}
}

#main {
	width: 100%;
	color: white;
}

#wrapper {
	overflow: hidden;
}

/*************************************************************************************************************/
/***************************************** HEADER ************************************************************/
/*************************************************************************************************************/

header {
	width: 100%;
	background-color: white;
	float: left;
	padding: 1%;
	text-align: right;
	height: 100%;
}

h1 {
	font-size: 2em;
}

#usernameForm {
	width: 100%;
	height: 100%;
	background-color: white;
	float: left;
}

#userNameText {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	width: 75%;
	height: 100%;
	border: 3px solid black;	
	padding-bottom: 3px;
	padding-top: 2px;
	border-radius: 0px;
}

input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2em;
	width: 24%;
	background-color: white;
	color: black;
	border-radius: 0px;
	border: 3px solid black;
	height: 100%;
	transition: background-color 0.5s,color 0.5s;
	vertical-align: top;
}

input[type="submit"]:hover {
	background-color: black;
	color: white;
}

#usernameDisplay {
	float: left;
	border: 3px solid transparent;
	width: 75%;
	height: 100%;
	font-size: 2em;
	padding-top: 7px;
	text-align: left;
	padding-left: 5px;
	vertical-align: top;
}

/* Landscape smartphone */
@media (max-width: 600px) {

	#userNameText {
		font-size: 1em;

		/* move this up to the ipad section if it is not aligned when I test it on one */
		padding-bottom: 0px;
		padding-top: 0px;
	}

	input[type="submit"] {
		font-size: 1em;
		width: 23%
	}

	#usernameDisplay {
		font-size: 1em;
		padding-top: 0px;
		vertical-align: middle;
	}
}

/* smartphone */
@media (max-width: 480px) {

	#userNameText {
		font-size: 0.8em;
	}

	input[type="submit"] {
		font-size: 0.8em;
	}

	#usernameDisplay {
		font-size: 0.8em;
	}
}

/*************************************************************************************************************/
/***************************************** IMAGES ************************************************************/
/*************************************************************************************************************/

#instafeed {
	width: 100%;
}

.instaimage {
	border: 3px solid white;
	width: 100%;
}

.instaframe {
	padding: 0.5%;
	float: left;
	position: relative;
}

.instaframe:hover img{
	opacity: 0.5;
	filter: blur(7px);
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
}

.instaframe img{
	transition: all 0.5s;
}

.smallImage {
	width: 25%;
}

.bigImage {
	width: 50%;
}

/* Lanscape iPad */
@media (max-width: 1024px) {
	.smallImage {
		width: calc(100% / 3);
	}
	.bigImage {
		width: calc(200% / 3);
	}
}

/* Landscape smartphone */
@media (max-width: 600px) {
	.smallImage {
		width: 50%;
	}
	.bigImage {
		width: 100%;
	}
}

/*************************************************************************************************************/
/***************************************** LIKE COUNT ********************************************************/
/*************************************************************************************************************/

#instafeed p {
	color: white;
	text-shadow: 0px 0px 6px black;
}

.bigImage p {
	font-size: 10em;
}

.smallImage p {
	font-size: 4.5em;
}

/* Portrait iPad */
@media (max-width: 768px) {
	.bigImage p {
		font-size: 8em;
	}
	.smallImage p {
		font-size: 3em;
	}
}

/* smartphone */
@media (max-width: 480px) {
	.bigImage p {
		font-size: 6em;
	}
	.smallImage p {
		font-size: 2em;
	}
}

.instaframe .likeCount {
	opacity: 0;
	transition: opacity 0.5s;
}

.instaframe:hover .likeCount {
	opacity: 1;
}

.likeCount {
	top: 0%;
	padding-top: 40%;
	z-index: 100;
	position: absolute;
	width: 100%;
	text-align: center;
}

/*************************************************************************************************************/
/***************************************** TITLE *************************************************************/
/*************************************************************************************************************/

#titleBox {
	width: 100%;
	text-align: center;
	padding-top: 15%;
}

/* Portrait iPad */
@media (max-width: 768px) {
	#titleBox {
		padding-top: 25%;
	}
}

/* Landscape smartphone */
@media (max-width: 600px) {
	#titleBox {
		padding-top: 15%;
	}
}

/* smartphone */
@media (max-width: 480px) {
	#titleBox {
		padding-top: 25%;
	}
}

#titleBox h1 {
	font-size: 5em;
	font-weight: 400;
}

#titleBox p {
	padding: 5%;
	font-size: 2em;
}

/*************************************************************************************************************/
/***************************************** HEART *************************************************************/
/*************************************************************************************************************/

/*#heart {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 3%;
    opacity: 0;
    transition: opacity 0.5s;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: white;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

#heart:after {
    left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
}

.instaframe:hover #heart {
	opacity: 1;
}*/

/*************************************************************************************************************/
/***************************************** COLUMNS ***********************************************************/
/*************************************************************************************************************/

/*************************************************************************************************************/
/***************************************** SPLASH ************************************************************/
/*************************************************************************************************************/

/*************************************************************************************************************/
/***************************************** FOOTER ************************************************************/
/*************************************************************************************************************/

